.weather-app {
  max-width: 800px;
  font-family: "Baloo Bhaijaan 2", cursive;
  border: 1px solid d3d3d3;
  border-radius: 10px;
  padding: 30px;
  display: block;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #236969;
}

.search-button {
  background: #74f6a7;
  color: white;
  padding: 7px 58px;
  font-weight: 700;
  transition: all 2ms ease-in-out;
}

.search-button:hover {
  background: #43a680;
  color: white;
  border: 1px solid #43a680;
}

.featured-city {
  font-size: 35px;
  font-weight: 700;
}

.date-condition {
  position: relative;
  top: -10px;
  left: 5px;
  font-size: smaller;
}

.humidity-temp {
  font-weight: 700;
  color: #74f6a7;
}

.featured-temp {
  position: relative;
  top: 30px;
  font-size: 70px;
  color: #236969;
}

#icon {
  position: relative;
  top: 28px;
  left: -40px;
}

.uom {
  position: relative;
  left: -7px;
  font-size: 25px;
  color: #236969;
}

.forecast-row {
  margin-top: 20px;
}

.day-forecast,
.card-header {
  border: none;
  border-bottom: none;
}

.forecast-title,
.card-title,
.card-text {
  text-align: center;
}

.forecast-title {
  color: #236969;
}

.high {
  color: #74f6a7;
  font-weight: bold;
}

.low,
#condition {
  color: #43a680;
  text-transform: capitalize;
}

footer {
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}

a {
  color: #43a680;
  color: #74f6a7;
  text-decoration: none;
}

a:hover {
  color: #43a680;
}

.uom .active {
  color: #236969;
  cursor: default;
}
