.weather-app {
  max-width: 800px;
  font-family: "Baloo Bhaijaan 2", cursive;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 30px;
  display: block;
  margin: 40px auto;
}

ul {
  list-style: none;
}

.featured-city {
  font-size: 30px;
}

.humidity-temp {
  font-weight: 700;
  color: purple;
}

.featured-temp,
.featured-emoji {
  font-size: 60px;
}

.celsius {
  position: relative;
  top: -25px;
  left: -10px;
  font-size: 25px;
}

.forecast-title,
.card-title,
.card-text {
  text-align: center;
}

footer {
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}
